<header>
    <div class="container-fluid text-center">
        <h1>Q&A Maintenance</h1>
    </div>

    <nav class="navbar navbar-inverse" style="border-radius: 0!important; -webkit-appearance:none;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbarEexample7">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%
                let homeTag = '<a class="navbar-brand" href="/">Home</a>';
                if (current === 'Home') {
                    homeTag = '<a class="navbar-brand" href="#">Home</a>';
                }
                let sttTag = '<a class="active" href="/stt">Speech to Text</a>';
                if (current === 'Speech to Text') {
                    sttTag = '<a href="#" class="active">Speech to Text</a>';
                }
                %>

                <%- homeTag %>
            </div>

            <div class="collapse navbar-collapse" id="navbarEexample7">
                <ul class="nav navbar-nav">
                    <li><a href="#">Answer</a></li>
                    <li class="active"><a href="#">Natural Language Classifier</a></li>
                    <li><%- sttTag %></li>
                </ul>
                <p class="navbar-text navbar-right">ようこそ ゲスト さん。</p>
            </div>
        </div>
    </nav>

</header>